<h1>Total de movimientos por mes</h1>
<br>
<div class="row">
  <canvas id="myChart"></canvas>
</div>
<br>
<h1>Total de retirados en chatarra por mes</h1>
<br>
<div class="row">
  <canvas class="col-sm-12" id="myChart2"></canvas>
</div>
<h1>Total de retirados en reha por mes</h1>
<br>
<div class="row">
  <canvas class="col-sm-12" id="myChart3"></canvas>
</div>
<h1>Total de retirados en almacen por mes</h1>
<br>
<div class="row">
  <canvas class="col-sm-12" id="myChart4"></canvas>
</div>
<script type="text/javascript">
$.getJSON("{{urlFor('get-grafica')}}",{year:$('#year').val()},function(data){
  var ctx = document.getElementById("myChart").getContext('2d');
  var chart = new Chart(ctx, {
    type: 'bar',

    // The data for our dataset
    data: {
      labels: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre",],
      datasets: [{
        label: "Movimientos en el a単o",
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: data['general'],
      }]
    },
    // Configuration options go here
    options: {}
  });

  var ctx2 = document.getElementById("myChart2").getContext('2d');
  var chart2 = new Chart(ctx2, {
    type: 'bar',

    // The data for our dataset
    data: {
      labels: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre",],
      datasets: [{
        label: "Movimientos en el a単o",
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: data['chatarra'],
      }]
    },
    // Configuration options go here
    options: {}
  });

  var ctx3 = document.getElementById("myChart3").getContext('2d');
  var chart3 = new Chart(ctx3, {
    type: 'bar',

    // The data for our dataset
    data: {
      labels: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre",],
      datasets: [{
        label: "Movimientos en el a単o",
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: data['reha'],
      }]
    },
    // Configuration options go here
    options: {}
  });

  var ctx4 = document.getElementById("myChart4").getContext('2d');
  var chart4 = new Chart(ctx4, {
    type: 'bar',

    // The data for our dataset
    data: {
      labels: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre",],
      datasets: [{
        label: "Movimientos en el a単o",
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: data['almacen'],
      }]
    },
    // Configuration options go here
    options: {}
  });

});
</script>
