<div class="container">
<div class="from-row" id="en">
<h1>Retirados</h1>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputEmail4">Marca</label>
    <input type="mar" class="form-control" id="mar">
  </div>
  <div class="form-group col-md-6">
    <label for="inputEmail4">Capasidad</label>
    <select class="form-control">
      <option></option>
    </select>
    </div>
  <div class="form-group col-md-6">
    <label for="inputEmail4">Numero de boquillas en media tension</label>
    <select class="form-control">
      <option></option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="inputEmail4">Voltaje de media tensión</label>
    <select class="form-control">
      <option></option>
    </select>
  </div>
    <div class="from-group col-md-6">
      <label for="inputEmail4">Voltaje de baja tensión</label>
    <input type="mar" class="form-control" id="mar">
    </div>
    <div class="from-group col-md-6">
      <label for="inputEmail4">N° de serie</label>
      <input type="mar" class="form-control" id="mar">
    </div>
    <div class="from-group col-md-6">
      <label for="inputEmail4">N° economica</label>
      <input type="mar" class="form-control" id="mar">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Capasidad</label>
      <input type="mar" class="form-control" id="mar">
    </div>
    <div class="form-group col-md-3">
          <div class="col-sm-3">
            <label for="inputEmail4" id="vol">Tipo</label>
          </div>
      <select class="form-control">
        <option></option>
      </select>
      </div>
      <div class="form-group col-md-3" id="grp">
      <select class="form-control">
        <option></option>
      </select>
    </div>
  <div class="form-group col-md-6">
      <label for="inputEmail4">Litros de aceite</label>
      <input type="mar" class="form-control" id="mar">
  </div>
  <div class="form-group col-md-6">
    <label for="inputEmail4">Pesos en KG</label>
    <input type="mar" class="form-control" id="mar">
  </div>
  <div class="form-group col-md-6">
    <label for="inputEmail4">Causa del daño</label>
    <input type="mar" class="form-control" id="mar">
  </div>
  <div class="form-group col-md-6">
    <label for="inputEmail4">Clave del daño</label>
    <input type="mar" class="form-control" id="mar">
  </div>
  <div class="form-group col-md-6">
    <label for="inputEmail4">Disposición</label>
    <select class="form-control">
      <option></option>
    </select>
  </div>
  <div class="container">
  <div class="row">
  <div class="col-lm-4">
  <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
</div>
<button class="btn btn-outline-success col-sm-1 offset-8" type="submit">Registrar</button>
</div>
</div>
</div>
</div>
</div>
<style media="screen">
  #grp{
    margin-top: 32px;
  }
</style>
<style media="screen">
#en{
  margin-top: 20px;
}

h1{
  margin-left: 41%;
}
</style>
