<div class="container">

<div class="form-row" id="en">
      <div class="form-group col-md-6">
        <label for="fecha">Fecha</label>
        <input id="datepicker" type="text" name="fecha" value="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Ubicacion</label>
      <input type="ubica" class="form-control" id="ubicacion">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Nombre del trabajador que realizo el movimiento</label>
      <input type="TRABAJA" class="form-control" id="trabajador">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Circuito</label>
      <select class="form-control" id="circuito">
          <option value="" selected>Seleccione una</option>
          <option>AXA 4112 AXTLA-MATLAPA</option>
          <option>AXA 5110 RIO</option>
          <option>AXA 5120 COMOCA</option>
          <option>CCO 5282 CACALILAO</option>
          <option>COC 5120 TAMUIN</option>
          <option>COC 5110 LAS PALMAS</option>
          <option>EBA 4110 ESTACION</option>
          <option>EBA 4120 EBANO</option>
          <option>HGD 5030 EL HIGO</option>
          <option>HST 5120 TANLAJAS</option>
          <option>HST 5130 TAMPAMOLON</option>
          <option>HUH 5210 JUGUERA</option>
          <option>HUH 5220 LA VUELTA</option>
          <option>HUH 5230 PIMIENTA</option>
          <option>MSO 4110 ALAMEDA</option>
          <option>MSO 4140 EL GAVILAN</option>
          <option>MSO 4130 TAMPAYA</option>
          <option>MSO 4120 JUAREZ</option>
          <option>MUL 5320 GONZALEZ</option>
          <option>RSI 5110 SAN JOSE DEL LIMON</option>
          <option>RSI 5120 PLAN DE IGUALA</option>
          <option>RSI 5130 TARASCO</option>
          <option>STS 4322 AQUISMON</option>
          <option>STS 4312 SANTOS</option>
          <option>TBC 5110 CABEZAS</option>
          <option>TEM 4860 COROZAL</option>
          <option>TMN 5412 LA CEIBA PONCIANO</option>
          <option>TMN 5422 HUALUL</option>
          <option>TMN 4552 TAMUIN</option>
          <option>TMN 4542 PUEBLO NUEVO</option>
          <option>TPK 4012 TAMPACAN</option>
          <option>TPK 4022 MIRAFLORES</option>
          <option>TPL 4622 TAMPAMOLON</option>
          <option>TPL 4612 TANQUIAN CENTRO</option>
          <option>TZE 4810 SAN MARTIN</option>
          <option>TZE 4820 TAMAZUNCHALE</option>
          <option>TZE 5010 SAN FELIPE</option>
          <option>TZE 5020 JACALA</option>
          <option>TZE 5030 TAMPACAN</option>
          <option>TZE 5390 XILITLA</option>
          <option>VAL 4020 COLONIAS</option>
          <option>VAL 4030 INFONAVIT</option>
          <option>VAL 4010 BOULEVARD</option>
          <option>VAL 4040 CEPRESO</option>
          <option>VES 5330 SANTOS</option>
          <option>VES 5340 MICOS</option>
          <option>VES 5320 PEDRERAS</option>
          <option>VES 4050 REAL CAMPESTRE</option>
          <option>VES 4010 IMMS</option>
          <option>VES 4020 CLINICA METROPOLITANA</option>
          <option>VES 4030 CENTRO</option>
          <option>VES 4040 LOMAS</option>
          <option>VTA 4322 SAN VICENTE</option>
          <option>VTA 4312 TANQUIAN</option>
          <option>XIL 4012 XILITLA</option>
          <option>XIL 4412 XILITLA-CHICHIMIXTITLA</option>
          <option>XIL 4422 AXTLA-MATLAPA</option>
          <option>XIL 4432 HUICHIHUAYAN</option>
          <option>XTD 4012 CONVENTO</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="inputPassword4">Causa del movimiento</label>
      <!--input type="mov" class="form-control" id="causa"/-->
      <select class="form-control" id="causa">
        <option selected value="">Seleccione una</option>
        <option>Transformador da침ado</option>
        <option>Movimiento en red</option>
        <option>Creaci칩n de 치rea nueva</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Ubicaci칩n geografica (coordenadas)</label>
      <input type="TRABAJA" class="form-control" id="coordenadas">
    </div>
    </div>
    <button type="button" id="siguiente1" class="btn btn-success">siguiente</button>
  </div>
